config.json
bower_components
node_modules
public/js/settings.js
public/css/*.css
newrelic_agent.log
*.pem
*.crt
provisioning/docker-registry/registry/*
provisioning/roles/*
provisioning/tmp/*
out/*
public/js/libs/bower/*
public/js-prod/*