@import "./common.less";
@import "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css";
@import "./select2.css";

body {
  margin: 0;
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial;
}

.filter label,
#stats label {
  font-weight: normal;
  margin-bottom: 0;
}

a, a:hover {
  color: rgb(0, 0, 238);
}

a.glyphicon {
  color: 000;
  cursor: pointer;
}

a.glyphicon:hover {
  text-decoration: none;
}