body {
  margin: 0;
}

#slider-range {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#map-holder {
  padding-top: 16px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

#info-panel {
  position: fixed;
  right: 6px;
  top: 46px;
  background-color: rgba(255,255,255,0.5);
  padding: 15px;
  border: 1px solid rgba(100,100,100,0.5);
  font-family: sans-serif;
  font-size: 12px;
}

.gm-style-iw {
  max-height: 200px;
}

#slider-range .ui-slider-handle {
  background: none;
  background-color: #ff0000;
}

#slider-range .ui-slider-handle:last-of-type {
  background: none;
  background-color: #0000ff;
}