body {
  margin: 0;
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial;
}

label {
  font-weight: normal;
  margin-bottom: 0;
}

a, a:hover {
  color: rgb(0, 0, 238);
}

#slider-range {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
}

#slider-range .ui-slider-handle {
  margin-top: 3px;
  width: 5px;
  margin-left: -2px;
}

#map-holder {
  padding-top: 16px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

.filters-visible #map-holder {
  padding-bottom: 250px;
}

#info-panel {
  position: fixed;
  right: 6px;
  top: 46px;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  border: 1px solid rgba(100,100,100,0.5);
}

.gm-style-iw {
  max-height: 200px;
}

#slider-range .ui-slider-handle {
  background: none;
  background-color: #ff0000;
}

#slider-range .ui-slider-handle:last-of-type {
  background: none;
  background-color: #0000ff;
}


#filters-container {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  bottom: 50px;
  display: none;
}

.filters-visible #filters-container {
  display: block;
}

#filters-container .filter-holder {
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
}

#filters-container .primary {
  width: 180px;
  border-right: 1px solid #aaa;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  float: left;
}

#filters-container .primary .options {
  margin-top: 5px;
}

#filters-container .primary .options .checkbox {
  display: inline-block;
}

#filters-container .options .see-more {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  display: none;
}

#filters-container .primary .filter:hover .see-more {
  display: inline;
}

#filters-container .primary input {
  margin-top: 0;
  bottom: -2px;
  position: relative;
}

#filters-container .secondary {
}

#summary-bar {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  height: 50px;
  background-color: #f6f6ff;
  padding: 5px;
}

#summary-bar #stats {
  float: left;
  margin-right: 20px;
}

#summary-bar #stats .stats-container {
  line-height: 20px;
}

#summary-bar #stats .stats-container label {
  width: 113px;
  display: inline-block;
}

#summary-bar #menu {
  float: left;
  padding-top: 8px;
}

#summary-bar #selector-holder {
  float: left;
  margin-right: 20px;
  margin-top: 7px;
}

#summary-bar #selector-holder .select2-container {
  width: 250px;
}

#summary-bar #social {
  float: right;
  padding-top: 3px;
  padding-right: 10px;
}

#summary-bar #social #github {
  float: right;

}

#summary-bar #social #github a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #053FFA;
}