body {
  margin: 0;
}

#slider-range {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#map-holder {
  padding-top: 16px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

#info-panel {
  position: fixed;
  right: 6px;
  top: 46px;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  border: 1px solid rgba(100,100,100,0.5);
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

.gm-style-iw {
  max-height: 200px;
}

#slider-range .ui-slider-handle {
  background: none;
  background-color: #ff0000;
}

#slider-range .ui-slider-handle:last-of-type {
  background: none;
  background-color: #0000ff;
}

#summary-bar {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  height: 50px;
  background-color: #f6f6ff;
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial;
  padding: 5px;
}

#summary-bar #stats {
  float: left;
}

#summary-bar #stats .stats-container {
  line-height: 20px;
}

#summary-bar #stats .stats-container .label {
  width: 113px;
  display: inline-block;
}

#summary-bar #selector-holder {
  float: left;
  margin-right: 20px;
  margin-top: 7px;
}

.select2-result {
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

#summary-bar #selector-holder .select2-container {
  width: 250px;
}

#summary-bar #social {
  float: right;
  padding-right: 10px;
  margin-top: -1;
}

#summary-bar #social div {
  margin-bottom: 3px;
}

#summary-bar #social #github {
  float: right;

}

#summary-bar #social #github a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #053FFA;
}

