#slider-range {
  top: 0;
  margin-left: 250px;
  height: 16px;

  .ui-slider-handle {
    margin-top: 3px;
    width: 5px;
    margin-left: -2px;
    background: none;
    background-color: #ff0000;
  }

  .ui-slider-handle:last-of-type {
    background: none;
    background-color: #0000ff;
  }
}