#slider-range {
  top: 0;
  margin-left: 250px;
  height: 32px;
  overflow: hidden;

  .slider-holder {
    top: 0;
    height: 100%;
    .groove {
      background: linear-gradient(to bottom, #eee 0%,#ddd 30%,#ddd 70%,#eee 100%);

      .slider {
        line-height: 29px;
        text-align: center;

        &.slider-a {
          background-color: red;
          background: linear-gradient(to bottom, #e66 0%, #f00 30%, #f00 70%, #e22 100%);
        }
        &.slider-b {
          background-color: blue;
          background: linear-gradient(to bottom, #66e 0%, #33f 30%, #33f 70%, #33e 100%);
        }
      }
    }
  }
}