.event-editor {
  fieldset {
    border: 1px solid #eee;
    padding: 0 18px;
    margin-bottom: 12px;
    legend {
      font-size: 12px;
      font-weight: bold;
      width: initial;
      border: 1px solid #eee;
      padding: 7px;
      border-radius: 8px;
      margin-left: -9px;
    }
  }
  ul.parsley-error-list {
    line-height: 11px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    li {
      display: inline;
      padding-top: .2em;
      font-size: 11px;
    }
  }
  .error-message {
    display: none;
  }
  .participant-list {
    margin-bottom: 10px;
    .participant {
      font-size: 14px;
      .form {
        margin-right: 24px;
        .name {
          display: inline-block;
          width: 50%;
          text-align: left;
        }
        .role {
          display: inline-block;
          width: 23%;
          margin-left: 2%;
        }
        .importance-holder {
          display: inline;
          .select2-container {
            display: inline-block;
            width: 23%;
            margin-left: 2%;
          }
        }
      }
      .remove-participant {
        float: right;
        position: relative;
        top: 9px;
      }
      fieldset {
        margin-left: 24px;
        margin-right: 24px;
      }
    }
  }
}