.event-editor {
  ul.parsley-error-list {
    line-height: 11px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    li {
      display: inline;
      padding-top: .2em;
      font-size: 11px;
    }
  }
  .error-message {
    display: none;
  }
  .participant-list {
    margin-bottom: 10px;
    .participant {
      font-size: 14px;
      .name {
        display: inline-block;;
        width: 69%;
        text-align: center;
      }
      .role {
        display: inline-block;;
        width: 25%;
      }
      .remove {

      }
    }
  }
}