#importance-slider-container {
  position: fixed;
  right: 6px;
  top: 63px;
  width: 40px;
  height: 147px;
  background-color: rgba(255,255,255,0.7);
  padding: 35px 17px;
  border: 1px solid rgba(100,100,100,0.7);
  border-radius: 3px;

  .text {
    float: left;
    left: -10px;
    position: relative;
    font-size: 11px;
    &.less {
      top: -30px;
    }
    &.more {
      top: -10px;
      left: -11px;
    }
  }

  #importance-slider {
    top: -12px;
    left: -3px;
  }
}