#map-holder {
  padding-top: 16px;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.filters-visible #map-holder {
  padding-bottom: 250px;
}

.search-visible #map-holder {
  padding-left: 250px;
}

.gm-style .gm-style-iw {
  overflow: hidden !important;
  &.fix-height {
    .content-holder {
      padding-top: 20px;
      .content {
        overflow-y: auto;
      }
    }
  }
  &.fix-height2 {
    width: 200px !important;
    .content-holder {
      position: absolute;
    }
  }



  > div {
    overflow: hidden !important;
    height: 100%;
    > div {
      max-height: 200px;
      .summary {
        height: 20px;
        overflow: hidden;
        .name {
          font-weight: bold;
        }
      }
      .content-holder {
        height: 100%;
        top: 0;
        width: 100%;
        .content {
          height: 100%;
        }
      }
    }
  }
  max-height: 200px;
  .event-link {
    display: block;
    max-width: 180px;

    &.highlight {
      font-weight: bold !important;
    }
  }
  .search {
    margin-right: 4px;
    font-size: 10px;
    cursor: pointer;
  }
}
