<div class="date-selector">
  <div class="date-summary">
    <span class="time-label">Date</span>
    <span class="value"></span>
  </div>
  <div class="year-holder">
    <div class="change-holder">
      <div class="change-year minus" data-year="500">500</div>
      <div class="change-year minus" data-year="75">75</div>
      <div class="change-year minus" data-year="10">10</div>
    </div>
    <div class="years"></div>
    <div class="change-holder">
      <div class="change-year plus" data-year="500">500</div>
      <div class="change-year plus" data-year="75">75</div>
      <div class="change-year plus" data-year="10">10</div>
    </div>
    </br>
  </div>
  <div class="month-holder">
    <div data-month="0">Jan</div>
    <div data-month="1">Feb</div>
    <div data-month="2">Mar</div>
    <div data-month="3">Apr</div>
    <div data-month="4">May</div>
    <div data-month="5">Jun</div>
    <div data-month="6">Jul</div>
    <div data-month="7">Aug</div>
    <div data-month="8">Sep</div>
    <div data-month="9">Oct</div>
    <div data-month="10">Nov</div>
    <div data-month="11">Dec</div>
    <br/>
  </div>
  <div class="day-holder">
    <table>
      <thead>
        <tr><th>S<th>M<th>T<th>W<th>T<th>F<th>S
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="time-summary">
    <span class="time-label">Time</span>
    <span class="value"></span>
  </div>
  <div class="hour-holder time-holder">
    <span class="time-label">Hour</span> <div class="hour-slider time-slider"></div>
  </div>
  <div class="minute-holder time-holder">
    <span class="time-label">Min</span> <div class="minute-slider time-slider"></div>
  </div>
  <div class="footer">
    <span class="btn btn-primary btn-sm done">Done</span>
    <br/>
  </div>
</div>
