<div
  class="event-entry"
  data-id="<%= event_id %>"
  data-creator-user-id="<%= creator_user_id %>"
  data-event-last-edited="<%= event_last_edited %>"
  data-name="<%= event_name %>"
  data-link="<%= event_link %>"
  data-lat="<%= location[0][0] %>"
  data-lon="<%= location[0][1] %>"
  data-start-date="<%= start_date %>"
  data-end-date="<%= end_date %>"
  data-place-name="<%= place_thing_name %>"
<% if (participants.length === 1) { %>
  data-thing-id="<%= participants[0].thing_id %>"
  data-thing-name="<%= participants[0].thing_name %>"
  data-importance-value="<%= participants[0].importance_value %>"
<% } %>
>
    <a class="event-link <%= (highlighted ? " highlight" : "") %><% if (event_link.length === 0) { %> no-link <% } %> "
      <% if (event_link.length > 0) { %>
        href="<%= encodeURI(event_link) %>"
        target="_blank"
      <% } %>
    >
      <%= event_name %>
    </a>

<% if (canEdit) { %>
  <span class="toolbutton edit glyphicon glyphicon-pencil"></span>
<% } %>
<% if (canDelete) { %>
  <span class="toolbutton delete glyphicon glyphicon-trash"></span>
<% } %>
<% if (participants.length === 1) { %>
  <span class="toolbutton search glyphicon glyphicon-search"></span>
  <span class="date">
    <%= date %>
  </span>
<% } else { %>
  <span class="date">
    <%= date %>
  </span>
  <% for (var i = 0, ii = participants.length; i < ii; i += 1) { %>
  <%= participantTemplate(participants[i])  %>
  <% } %>
<% } %>
</div>
