<div
  class="event-entry"
  data-id="<%= event_id %>"
  data-name="<%= event_name %>"
  data-link="<%= event_link %>"
  data-lat="<%= location[0][0] %>"
  data-lon="<%= location[0][1] %>"
  data-start-date="<%= start_date %>"
  data-end-date="<%= end_date %>"
  data-place-name="<%= place_thing_name %>"
<% if (participants.length === 1) { %>
  data-thing-id="<%= participants[0].thing_id %>"
  data-thing-name="<%= participants[0].thing_name %>"
<% } %>
>
  <a class="event-link <%= (highlighted ? " highlight" : "") %> "
      href="<%= encodeURI(event_link) %>"
      target="_blank"
  >

    <%= event_name %>
  </a>

<% if (canEdit) { %>
  <span class="toolbutton edit glyphicon glyphicon-pencil"></span>
<% } %>
<% if (participants.length === 1) { %>
  <span class="toolbutton search glyphicon glyphicon-search"></span>
  <span class="date">
    <%= date.getDate() %>/<%= (date.getMonth() + 1)%>/<%= Math.abs(date.getFullYear()) %> <%= (date.getFullYear() < 0 ? " BC" : "") %>
  </span>
<% } else { %>
  <span class="date">
    <%= date.getDate() %>/<%= (date.getMonth() + 1)%>/<%= Math.abs(date.getFullYear()) %> <%= (date.getFullYear() < 0 ? " BC" : "") %>
  </span>
  <% for (var i = 0, ii = participants.length; i < ii; i += 1) { %>
  <%= participantTemplate(participants[i])  %>
  <% } %>
<% } %>
</div>
