<div id="login-activation">
  <a id="login" class="glyphicon glyphicon-log-in login-btn" title="login"></a>
  <a id="logout" class="glyphicon glyphicon-log-out login-btn" title="logout"></a>
  <a id="cancel-login" class="glyphicon glyphicon-remove login-btn" title="cancel login"></a>
</div>
<div id="login-options">
  <a id="login-retred" class="login-option"></a>
  <a id="login-facebook" class="login-option"></a>
  <a id="login-google" class="login-option"></a>
  <a id="login-twitter" class="login-option"></a>
</div>