<div id="selector-holder">
  <input type="hidden" id="place-selector" class="form-control"></input>
</div>
<div id="stats">
  <div class="stats-container">
    <label >Locations shown:</label>
    <span id="locations-shown"></span>
  </div>
  <div class="stats-container">
    <label>Events shown:</label>
    <span id="events-shown"></span>
  </div>
</div>
<div id="menu">
  <button id="filter-toggle">Filters...</button>
</div>

<div id="right-buttons">
  <div id="login-holder"></div>
  <div id="social">
    <div id="twitter">
      <a href="https://twitter.com/RetredOrg" class="twitter-follow-button" data-show-count="false" data-lang="en-gb">Follow @RetredOrg</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
    <div id="github">
      <iframe src="/github-btn.html?user=twistedvisions&repo=anaximander&type=watch&count=true"
    allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
    </div>
  </div>
</div>