<div id="selector-holder">
  <input type="hidden" id="place-selector" class="form-control"></input>
</div>
<div id="stats">
  <div class="stats-container">
    <label >Locations shown:</label>
    <span id="locations-shown"></span>
  </div>
  <div class="stats-container">
    <label>Events shown:</label>
    <span id="events-shown"></span>
  </div>
</div>
<div id="menu">
  <button id="filter-toggle">Filters...</button>
</div>

<div id="right-buttons">
  <div id="login-holder"></div>
  <div id="blog-link">
    <a href="/blog">Blog</a>
  </div>
</div>