<div class="modal fade event-editor">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit thing</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active details"><a data-target=".tab-pane.details" data-toggle="tab">Details</a></li>
          <li class="history"><a data-target=".tab-pane.history" data-toggle="tab">History</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active details">
            <form role="form" data-parsley-validate>


              <div class="form-group">
                <label>Describe the change</label>
                <textarea
                  class="form-control"
                  data-key="reason"
                  data-parsley-minlength="10"
                />

                <input type="text"
                  style="display:none"
                  class="form-control"
                  data-key="changes-dummy"
                  data-parsley-changemade="true"
                  value="xxxxxx"
                />
              </div>
            </form>
          </div>
          <div class="tab-pane fade history">
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger error-message"></div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary save">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->